* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Abaixo, linhas de código do Daniel Barradas */
nav{
    display: flex;
    justify-content: space-around;
    position: fixed;
    align-items: center;
    background: #ff914d;
    min-height: 8vh;
    width: 100vw;
}
label.logo img{
    height: 70px;
    padding: 0 40px;
}
.links{
    display: flex;
    justify-content: space-around;
    width: 35%;
}
.links a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 4px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}
nav ul li{
    list-style: none;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}
@media screen and (max-width:768px){
    header{
        overflow-x: hidden;
    }
    .links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 10vh;
        background-color: #ff914d;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .link li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}
.link-ativo{
    transform: translateX(0%);
}
/* a.ativo,a:hover{
    background: #ffbd59;
    transition: .5s;

} */

/*Abaixo, linhas de código de Wilson Alves*/
.home{
    background-color: #FFDC93;
    /* background-color: #24ce57; */
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.primeira-coluna{
    display: grid;
    /* grid-template-rows: repeat(2, 0.5fr) 1fr; */
    align-content: flex-start;
    padding-top: 30%;
    padding-left: 20%;
}

.imagem-home {
    grid-column-start: 3;
    grid-column-end: 4;
    width: 60vw;
    height: 90vh;
    padding-top: 10vh;
}

.frase-home1, .frase-home2{
    font-size: x-large;
    color: rgb(201, 111, 26);
}

.frase-home1{
    padding-top: 10%;
}

.frase-home2{
    padding-bottom: 10%;
}

.botao-home {
    font-size: medium;
    background-color: white;
    color: #ff914d;
    border-radius: 10px;
    padding: 5px;
}

.botao-home:hover{
    background-color: #f7b6288f;
    font-weight: bold;
}

#tituloquemsomos{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
#tirarlinha{
    text-decoration: none;
}

.todoquemsomos{
    margin-top: 8%;
    width: 100vw;
    height: 90vh;
}


.quem-somos{
    display: grid;
    justify-content: center;
    gap: 5%;
    margin-top: 5%;
    grid-template-rows: 200px 200px;
    grid-template-columns: 600px 600px;
    grid-template-areas: 
    'box1 box3'
    'box2 box4'
}

.comeco{
    grid-area: box1;
}
.proposito{
    grid-area: box2;
}
.valores{
    grid-area: box3;
}
.clientes{
    grid-area: box4;
}

/*Abaixo, linhas de código de Victoria Moreira */
/* AQUI COMECA TIPO DE CARTOES */

.container-1{
    background-color: #E7EEF3;
    padding-top: 10vh;
    height: 45vh;
    display: flex;
}
.container-2{
    height: 45vh;
    display: flex;
}

.bloco-1, .bloco-2{
    width: 50vw;
    background: #E7EEF3;
}

.bloco-3, .bloco-4{
    width: 50vw;
    background: #DFE7EC;
}

.bloco-1 > img, .bloco-4 > img{
    height: 45vh;
}

.bloco-2, .bloco-3{
    display: grid;
    grid-template-rows: 1.5fr 2fr;
    padding-right: 10vw;
}

.bloco-3{
    display: grid;
    grid-template-rows: 1.5fr 2fr;
    padding-left: 10vw;
}

.bloco-4{
    padding-left: 25%;
}

 .bloco-2 > h3, .bloco-3 > h3{
    padding-top: 15vh;
    justify-content: baseline;
}


/* AQUI TERMINA TIPO DE CARTOES */

/* AQUI COMECA EMPRESAS PARCEIRAS */

.grid-empresas-parceiras{
    height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr;
}

.grid-empresas-parceiras > h2{

    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    align-items: flex-end;
}

.icones-empresas-linha1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.icones-empresas-linha2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 0 10vw;
}

.icones-empresas{
    height: 20vh;
    box-shadow: 3px 3px rgba(169, 169, 169, 0.452);
}

/* AQUI TERMINA EMPRESAS PARCEIRAS */

/*Abaixo, linhas de código de Danielle Arantes*/

form{
    display: grid;
    padding: 10% 10%;
    font-size: larger;
    background-color: #D5D5D5;
}
#imagemfundo{
    width: 50vw;
}
#contadigital{
    width: 100%;
    height: 100vh;
    display: flex;
}
form > p{
    font-weight: bold;
}
.botao{
    font-size: medium;
    padding: 0px 35%;
}
.botao:hover{
    background-color: rgb(36, 105, 255);
}

.todofooter{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: auto;
    column-gap: 2vw;
    margin-left: 1vw;
}
div > p{
    margin-bottom: 2vh;
}
.store{
    width: 80%;
    height: auto;
}
.lojas{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.icons{
    width: 10vh;
    height: auto;
    padding-left: 2vw;
}
.icones{
    margin-top: 8vh;
    text-align: center;
}
span{
    font-weight: bolder;
}
footer{
    margin: 30px;
}
